<%= tabs_tag do |tab| %>
  <%= tab.index      'Home', "#" %>
  <%= tab.dashboard 'Dashboard', "#" %>
  <%= tab.instructivos   'instructivos', "#" %>
  <%= tab.procedimientos   'procedimientos', "#" %>
<% end %>


<p>The name of current tab is <%= current_tab %>.</p>
